.container
    position: absolute
    top: 50%
    left: 50%
    z-index: 3
    transform: translateY(-50%) translateX(-50%)
    transition: all 5s ease-in-out
    &_wrapper
        padding: 20px
        text-align: center
        background: #fff
        border-radius: 5px
        &__title
            margin-top: 0
            color: #333
        &__close
            position: absolute
            top: 20px
            right: 30px
            transition: all 200ms
            font-size: 30px
            font-weight: bold
            text-decoration: none
            color: #333
            &:hover
                cursor: pointer
                color: #000
        &__content
            max-height: 30%
            overflow: auto